<%= form_for(@staging_to_prod) do |f| %>
  <% if @staging_to_prod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staging_to_prod.errors.count, "error") %> prohibited this staging_to_prod from being saved:</h2>

      <ul>
      <% @staging_to_prod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
