<p id="notice"><%= notice %></p>

<h1>Listing Staging To Prods</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @staging_to_prods.each do |staging_to_prod| %>
      <tr>
        <td><%= link_to 'Show', staging_to_prod %></td>
        <td><%= link_to 'Edit', edit_staging_to_prod_path(staging_to_prod) %></td>
        <td><%= link_to 'Destroy', staging_to_prod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staging to prod', new_staging_to_prod_path %>
