<%= form_for(@venue, multipart: true) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :cover_image_url %><br>
    <%= f.text_field :cover_image_url %>
  </div>
  <div class="field">
   <%= f.label :cover_image %>
   <%= f.file_field :cover_image %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
