<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @venue.uuid %>
</p>

<p>
  <strong>Title:</strong>
  <%= @venue.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<p> <strong>Cover image</strong>  </p>
<img src= <%= @venue.cover_image_url %>  alt="Mountain View">
<p> 
<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
</p>
